<!DOCTYPE html>
<html>
    <head>
        <script src="react/react.js"></script>
        <script src="react/react-dom.js"></script>
        <script src="react/JSXTransformer.js"></script>
    </head>
    <body>
        <div id="container"></div>
        <!--<script type="text/jsx">
            React.render(
                <h1>Hello, Brody</h1>,
                document.getElementById('container')
            );
        </script>-->
        <!--<script type="text/jsx">
            var names = ['Jack', 'Tom', 'Alice'];
            Reac.render(
                <div>
                {
                    names.map(function(name){
                        return <div>Hello, {name}!</div>
                    })
                }
                </div>,
                document.getElementById('container')
            );
        </script>-->
        <!--<script type="text/jsx">
            var arr = [
                <h1>Hello world!</h1>,
                <h2>React is perfect!</h2>
            ];
            React.render(
                <div>*{arr}*</div>,
                document.getElementById('container')
            );
        </script>-->
<!--        <script type="text/jsx">
            var Greet = React.createClass({
                render : function(){
                    return <h1>Hello {this.props.name}</h1>;
                }
            });
            ReactDOM.render(
                <Greet name="Jack"/>,
                document.getElementById('container')
            );
        </script>-->
        <!--<script type="text/jsx">
            var InputState = React.createClass({
                getInitialState : function(){
                    return {enable : false};
                },
                handleClick : function(event){
                    this.setState({enable : !this.state.enable});
                },
                render : function(){
                    return (
                        <p>
                            <input type="text" disabled={this.state.enable}/>
                            <button onClick={this.handleClick}>Change State</button>
                        </p>
                    );
                }
            });
            ReactDOM.render(
                <InputState/>,
                document.getElementById('container')
            );
        </script>-->
        <!--<script type="text/jsx">
            var Hello = React.createClass({
                getInitialState : function(){
                    return {
                        opacity : 1.0
                    }
                },
                componentDidMount : function(){
                    this.timer = setInterval(function(){
                        var opacity = this.state.opacity;
                        opacity -= .05;
                        if(opacity < 0.1){
                            opacity = 1.0;
                        }
                        this.setState({
                            opacity : opacity
                        });
                    }.bind(this), 100);
                },
                render : function(){
                    return (
                        <div style={{opacity : this.state.opacity}}>
                            Hello {this.props.name}
                        </div>
                    );
                }
            });
            ReactDOM.render(
                <Hello name="world"/>,
                document.getElementById('container')
            );
        </script>-->
        <!--<script type="text/jsx">
            var Search = React.createClass({
                render : function(){
                    return (
                        <div>
                            {this.props.searchType}:<input type="text"/>
                            <button>Search</button>
                        </div>
                    );
                }
            });
            var Page = React.createClass({
                render : function(){
                    return (
                        <div>
                            <h1>Welcome!</h1>
                            <Search searchType="Title"/>
                            <Search searchType="Content"/>
                        </div>
                    );
                }
            });
            ReactDOM.render(
                <Page/>,
                document.getElementById('container')
            );
        </script>-->
    </body>
</html>